extends layout

block content
    .container
        h1= title
        table(class='table table-hover')
            tr
                th ID
                th Name
                th Type 1
                th Type 2
            each pokemon in pokedexgen1
                tr
                    td ##{pokemon.id}
                    td 
                        a(href='#') #{pokemon.name}
                    td #{pokemon.type1}
                    td #{pokemon.type2}
                        